* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.app {
  display: flex;
}

.chat {
  flex: 0.75;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #363a3f;
}
